<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuizAnswersEntities1" connectionString="metadata=res://*/AnsweringRepositories.AnswersStructure.csdl|res://*/AnsweringRepositories.AnswersStructure.ssdl|res://*/AnsweringRepositories.AnswersStructure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALEX_APC\MSSQLSERVER14;initial catalog=QuizAnswers;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuizEntities1" connectionString="metadata=res://*/Repositories.QuizStructure.csdl|res://*/Repositories.QuizStructure.ssdl|res://*/Repositories.QuizStructure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALEX_APC\MSSQLSERVER14;initial catalog=Quiz;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>